/*
display 선언 - visible / gone 등
float, clear, position 등 view의 위치 선언
width, height 등 view의 크기 선언
margin, padding 선언
border 선언
background, color 선언
font 관련 선언
animation 관련 선언
그 외 기타 선언
Sass관련 선언( $, @ … )  
*/

// ------ sass ------

$red: #BE3114;
$red-font: #8d2300;
$dark-red: #8B240B;
$gray: #e8e8e8;
$bright-gray: #f1f1f1;
$header-gray: #424E4F;
$gray-font: #848484;
$bright-gray-font: #e2e2e2;
$black: #000000;
$black-font: #292f33;
$white: #ffffff;
$bright-white: #B37F75;


$eleven-pixel: 11px;
$twelve-pixel: 12px;
$thirteen-pixel: 13px;
$seventeen-pixel: 17px;
$twentynine-pixel: 29px;

.ellipsis {
  overflow : hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  -ms-text-overflow:ellipsis;
  -moz-binding:url(/xe/ellipsis.xml#ellipsis);
}


// ------ sass ------


// ------ header, footer, line ------

.header {
  width: 100%;
  height: 46px;
  background-color: $red;
  .left-button {
    float: left;
    width: 25%;
    height: 100%;
    img {
      float: left;
      width: 46px;
      height: 46px;
    }
  }
  span {
    float: left;
    width: 50%;
    line-height: 46px;
    font-size: $seventeen-pixel;
    font-weight: 500;
    text-align: center;
    color: $white;
  }
  .right-button {
    float: right;
    width: 20%;
    height: 100%;
    img {
      float: right;
      width: auto;
      height: 46px;
    }
  }
}

.header-gray {
  width: 100%;
  height: 46px;
  background-color: $header-gray;
  .left-button {
    float: left;
    width: 25%;
    height: 100%;
    img {
      float: left;
      width: 46px;
      height: 46px;
    }
  }
  span {
    float: left;
    width: 50%;
    line-height: 46px;
    font-size: $seventeen-pixel;
    font-weight: 500;
    text-align: center;
    color: $white;
  }
  .right-button {
    float: right;
    width: 20%;
    height: 100%;
    img {
      float: right;
      width: auto;
      height: 46px;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;

  .icon {
    float: left;
    width: 20%;
    height: 52px;
  }
}

.line {
  float: left;
  width: 100%;
  height: 1px;
  background-color: $bright-gray;
}

.tab-line {
  float: left;
  width: 1px;
  height: 100%;
  background-color: $white;
}


// ------ main (timeline) ------

.main {
  float: left;
  width: 100%;
  height: 100%;

  .card {
    float: left;
    width: 100%;
    height: auto;
    margin: 0 0 52px 0;
    background-color: $white;
    .info {
      float: left;
      width: 100%;
      height: 52px;
      padding: 10px;
      .card-info {
        float: left;
        width: 70%;
        height: 100%;
        img {
          float: left;
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }
        span {
          float: left;
          width: 80%;
          margin: 0 0 0 10px;
          font-size: $eleven-pixel;
          @extend .ellipsis;
        }
      }
      .time {
        display: table;
        float: right;
        width: 30%;
        height: auto;
        margin: 10px 0 0 0;
        img {
          display: table-cell;
          vertical-align: middle;
          float: right;
          width: 12px;
          height: 12px;
          margin: 0 8px 0 0;
        }
        span {
          float: right;
          display: table-cell;
          vertical-align: middle;
          line-height: 100%;
          font-size: $eleven-pixel;
          color: $gray-font;
        }
      }
    }
    .timer {
      display: table;
      float: left;
      width: 100%;
      height: 52px;
      padding: 10px;
      img {
        float: left;
        width: 32px;
        height: 32px;
        }
      .title {
        float: left;
        width: auto;
        font-weight: 500;
        font-size: $eleven-pixel;
        line-height: 32px;
      }
      .time {
        display: table-cell;
        vertical-align: middle;
        width: auto;
        span {
          width: auto;
          height: auto;
          float: right;
          font-size: $eleven-pixel;
          color: $gray-font;
        }
      }
    }
    .description-photo {
      float: left;
      width: 100%;
      height: auto;
      img {
        float: left;
        width: 100%;
        height: 240px;
      }
    }
    .description-text {
      float: left;
      width: 100%;
      height: auto;
      padding: 10px;
      font-size: $twelve-pixel;
      line-height: 20px;
    }
    .servey {
      float: left;
      width: 100%;
      height: auto;
      padding: 10px;
      .radio-group {
        radio-button {

        }
        span {
          margin: 0 0 0 10px;
          font-size: $twelve-pixel;
        }
      }
      .checkbox-group {
        checkbox-button {

        }
        span {
          margin: 0 0 0 10px;
          font-size: $twelve-pixel;
        }
      }

      .rating {
        float: left;
        width: 100%;
        height: auto;
        img {
          float: left;
          width: 28px;
          height: 26px;
          margin: 0 31px 0 0;
        }
        span {
          float: right;
          font-size: $twentynine-pixel;
        }
      }
      .input-number {
        float: left;
        width: 100%;
        height: auto;
        padding: 0 3px 0 3px;
        .number {
          width: 100%;
          height: 45px;
          background-color: $gray;
          border: none;
          border-radius: 3px;
          text-align: center;
          font-size: $twelve-pixel;
        }
      }
    }
    .options {
      float: left;
      width: 100%;
      height: auto;
      padding: 10px;
      .more {
        float: left;
        width: auto;
        height: 26px;
        img {
          width: 34px;
          height: 100%;
        }
      }
      .add-comment {
        float: left;
        width: auto;
        height: 26px;
        margin: 0 0 0 8px;
        padding: 0 8px 0 5px;
        background-color: $gray;
        border-radius: 3px;
        img {
          width: auto;
          height: 100%;
        }
        span {
          font-size: $twelve-pixel;
        }
      }
      .send {
        float: right;
        width: auto;
        height: 26px;
        padding: 0 8px 0 5px;
        background-color: $gray;
        border-radius: 3px;
        img {
          width: auto;
          height: 100%;
        }
        span {
          font-size: $twelve-pixel;
        }
      }
      .answered {
        float: right;
        width: auto;
        height: 26px;
        margin: 0 0 0 8px;
        padding: 0 8px 0 5px;
        background-color: $gray;
        border-radius: 3px;
        img {
          width: auto;
          height: 100%;
        }
        span {
          font-size: $twelve-pixel;
        }
      }
    }
  }
}

// ------ auth ------
.auth {
  float: left;
  width: 100%;
  min-height: 100%;
  background-color: $red;
  .auth-menu {
    float: left;
    width: 100%;
    height: auto;
    .signup {
      float: left;
      width: 25%;
      height: 110px;
      margin: 0 0 0 10%;
      line-height: 110px;
      text-align: center;
      color: $bright-white;
    }
    .logo {
      float: left;
      display: table-cell;
      vertical-align: middle;
      text-align:center; 
      line-height: 110px;
      width: 30%;
      height: 110px;
      img {
        display: inline-block;
        width: 44px;
        height: 44px;
      }
    }
    .login {
      float: left;
      width: 25%;
      height: 110px;
      margin: 0 10% 0 0;
      line-height: 110px;
      text-align: center;
      color: $white;
    }
  }

  .write {
    float: left;
    width: 100%;
    height: auto;
    .email-con {
      float: left;
      width: 100%;
      height: 60px;
      background: url('../images/LoginBar01.png');
      background-size: 100% 100%;
      margin: 0 0 1px 0;
      .email {
        float: left;
        width: 100%;
        height: 60px;
        border:none;
        background:transparent;
        text-align: center;
        line-height: 74px;
      }
    }
    .password-con {
      float: left;
      width: 100%;
      height: 46px;
      background: url('../images/LoginBar02.png');
      background-size: 100% 100%;
      margin: 0 0 1px 0;
      .password {
        float: left;
        width: 90%;
        height: 100%;
        border:none;
        background:transparent;
        text-align: center;
        padding: 0 0 0 10%;
      }
      .approval {
        float: right;
        width: 23px;
        height: 100%;
        margin: 0 13px 0 0;
      }
    }
  }

  .or {
    float: left;
    width: 100%;
    height: auto;
    margin: 29px 0 0 0;
    text-align: center;
  }

  .social {
    float: left;
    display: table-cell;
    vertical-align: middle;
    text-align:center; 
    width: 100%;
    height: auto;
    margin: 24px 0 0 0;
    .google {
      display: inline-block;
      width: 44px;
      height: 44px;
      margin: 0 7.5px 0 0;
    }
    .facebook {
      display: inline-block;
      width: 44px;
      height: 44px;
      margin: 0 0 0 7.5px;
    }
  }
}

// ------ search ------

.search-con {
  width: 100%;
  height: 46px;
  background : url('../images/searchBar.png');
  background-size: 100% 100%;
  .search {
    float: left;
    width: 100%;
    height: 100%;
    line-height:46px;
    border:none;
    background:transparent;
    padding: 0 0 0 20px;
    font-size: $thirteen-pixel;
  }
}

.bagle-tab {
  width: 100%;
  height: 46px;
  span {
      color: $white;
      font-size: $twelve-pixel; 
    }
  .popular {
    float: left;
    width: 50%;
    height: 46px;
    background: url('../images/TabLeftBtn.png');
    background-size: 100% 100%;
    text-align: center;
    line-height: 46px;
  }
  .new {
    float: right;
    width: 50%;
    height: 46px;
    background: url('../images/TabRightBtn.png');
    background-size: 100% 100%;
    text-align: center;
    line-height: 46px;
  }
  .my-bagle {
    float: left;
    width: 50%;
    height: 46px;
    background: url('../images/TabLeftBtn.png');
    background-size: 100% 100%;
    text-align: center;
    .count {
      color: $white;
      font-size: $seventeen-pixel; 
    }
    .text {
      color: $white;
      font-size: $eleven-pixel; 
    }
  }
  .my-post {
    float: right;
    width: 50%;
    height: 46px;
    background: url('../images/TabRightBtn.png');
    background-size: 100% 100%;
    text-align: center;
    .count {
      color: $white;
      font-size: $seventeen-pixel; 
    }
    .text {
      color: $white;
      font-size: $eleven-pixel; 
    }
  }
}

.group-list{
  position: relative;
  width: 100%;
  height: 88px;
  .group-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 88px;
    background: url('../images/media-photo.png');
    background-size: 100% 100%;
    z-index: 1;
  }
  .group-gradation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 88px;
    background: url('../images/BagleImageGradient.png');
    background-size: 100% 100%;
    z-index: 2;
  }
  .group-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 88px;
    z-index: 3;
    .group-con {
      float: left;
      width: 70%;
      height: 100%;
      .master {
        float: left;
        width: 100%;
        height: auto;
        margin: 15px 0 0 0;
        padding: 0 0 0 8px;
        img {
          float: left;
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }
        span {
          float: left;
          width: 78%;
          margin: 0 0 0 10px;
          color: $white;
          font-size: $eleven-pixel;
          @extend .ellipsis;
        }
      }
      .description {
        float: left;
        width: 100%;
        height: auto;
        margin: 10px 0 0 0;
        padding: 0 0 0 15px;
        color: $white;
        font-size: $twelve-pixel;
        @extend .ellipsis;
      }
    }
    .option {
      float: right;
      width: auto;
      height: 100%;
      img {
        float: right;
        width: auto;
        height: 100%;
        padding: 0 8px 0 0;
      }
    }
  }
}

// ------ activity ------

.acitiviy-info {
  float: left;
  width: 100%;
  height: 52px;
  background-color: $white;
  .user-photo {
    float: left;
    width: auto;
    height: 100%;
    margin: 0 0 0 8px;
    img {
      width: 34px;
      height: 34px;
      margin: 8px 0 0 0;
      border-radius: 50%;
    }
  }
  
  .content {
    float: left;
    width: 50%;
    height: 100%;
    margin: 0 0 0 10px;
    span {
      float: left;
      margin: 8px 0 0 0;
      font-size: $eleven-pixel;
    }
  }
  
  .options-button {
    float: right;
    width: auto;
    height: 100%;
    margin: 0 8px 0 0;
    img {
      width: 34px;
      height: 100%;
    }
  }
}

// ------ setting ------

.user-info {
  width: 100%;
  height: 253px;
  img {
    width: 100%;
    height: 100%;
  }
  .change-photo-btn {
    position: absolute;
    top: 46px;
    right: 0;
    width: auto;
    height: auto;
    img {
      width: 68px;
      height: 68px;
    }
  }
  .name-con {
    position: absolute;
    top: 250px;
    left: 0;
    width: 80%;
    height: auto;
    .user-name {
      width: 100%;
      margin: 0 0 0 10px;
      color: $white;
      font-size: $seventeen-pixel;
      @extend .ellipsis;
    }
    .user-information {
      width: 100%;
      margin: 0 0 0 10px;
      color: $white;
      font-size: $eleven-pixel;
      @extend .ellipsis;
    }
  }
  .user-setting-btn {
    position: absolute;
    top: 250px;
    right: 0;
    width: auto;
    height: auto;
    img {
      width: 32px;
      height: 32px;
      margin: 0 10px 0 0;
    }
  }
}

.create-button {
  float: left;
  width: 100%;
  height: 87px;
  text-align: center;
  background-color: $red;
  border: 10px solid $dark-red;
  span {
    width: 100%;
    height: 100%;
    line-height: 67px;
    color: $white;
    font-size: $thirteen-pixel;
  }
}

// ------ create-group ------

.create-name-con {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 87px;
  z-index: 3;
  .name {
    float: left;
    width: 100%;
    height: 43.5px;
    .create-bagle-name {
      line-height: 43.5px;
      color: $white;
      margin: 0 0 0 15px;
      font-size: $seventeen-pixel;
      font-weight: 600;
    }
    .create-bagle-information {
      line-height: 43.5px;
      color: $white;
      margin: 0 0 0 15px;
      font-size: $eleven-pixel;
    }
  }
  img {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    margin: 48.5px 12px 0 0;
  }
}

.automatic-con {
  float: left;
  display: table;
  width: 100%;
  height: 46px;
  span {
    display:table-cell;
    vertical-align:middle;
    padding: 0 0 0 15px;
    font-size: $thirteen-pixel;
  }
  img {
    float: right;
    width: 39px;
    height: 100%;
    margin: 0 15px 0 0;
  }
}

.type-con {
  float: left;
  width: 100%;
  height: auto;
  .type-title {
    float: left;
    display: table;
    width: 100%;
    height: 46px;
    span {
      display:table-cell;
      vertical-align:middle;
      padding: 0 0 0 15px;
      font-size: $thirteen-pixel;
    }
  }
  .type {
    float: left;
    width: 100%;
    height: 56px;
    padding: 0 15px 0 35px;
    .name-description {
      float: left;
      width: 80%;
      height: auto;
      span {
        float: left;
        width: 100%;
        height: auto;
        font-size: $thirteen-pixel;
      }
    }
    img {
      float: right;
      width: 20px;
      height: 100%;
    }
  }
}

.invite-members {
  float: left;
  display: table;
  width: 100%;
  height: 46px;
  span {
    display:table-cell;
    vertical-align:middle;
    padding: 0 0 0 15px;
  }
  img {
    float: right;
    width: 39px;
    height: 100%;
    margin: 0 15px 0 0;
  }
}

// ------ invite-member ------

.url-con {
  float: left;
  width: 100%;
  height: 46px;
  .url-title {
    float: left;
    width: auto;
    height: 100%;
    span {
      margin: 0 0 0 16px;
      line-height: 46px;
      font-weight: 800;
      font-size: $thirteen-pixel;
    }
  }
  .url {
    float: right;
    width: auto;
    height: 100%;
    span {
      margin: 0 16px 0 0;
      padding: 3px;
      line-height: 46px;
      background-color: $gray;
      border-radius: 3px;
      font-size: $eleven-pixel;
    }
  }
}

.invite {
  float: left;
  width: 100%;
  height: 62px;
  .invite-image {
    float: left;
    width: auto;
    height: 100%;
    margin: 0 0 0 15px;
    img {
      width: 25px;
      height: 100%;
    }
  }
  
  .invite-text {
    float: left;
    width: auto;
    height: 100%;
    margin: 0 0 0 15px;
    span {
      line-height: 62px;
      font-size: $seventeen-pixel;
    }
  }
}

// ------ create-card ------

.create-type-select {
  float: left;
  width: 100%;
  height: 56px;
  border-bottom: 1px solid $gray;
  .create-type {
    float: left;
    width: auto;
    height: 100%;
    margin: 0 0 0 16px;
    span {
      line-height: 56px;
      font-size: $thirteen-pixel;
    }
  }
  img {
    float: right;
    width: auto;
    height: 100%;
    margin: 0 15px 0 0;
  }
}

.create-card-dropdown {
  float: left;
  width: 100%;
  height: auto;
  .create-dropdown-con {
    float: left;
    width: 100%;
    height: 56px;
    border-bottom: 1px solid $gray;
    .create-dropdown-type {
      float: left;
      width: auto;
      height: 100%;
      margin: 0 0 0 16px;
      .dropdown-type-title {
        float: left;
        width: 80%;
        height: 50%;
        line-height: 38px;
        font-size: $thirteen-pixel;
      }
      .dropdown-type-sub-title {
        float: left;
        width: 80%;
        height: 50%;
        line-height: 18px;
        color: $bright-gray-font;
        font-size: $eleven-pixel;
      }
    }
    img {
      float: right;
      width: auto;
      height: 100%;
      margin: 0 15px 0 0;
    }
  }
}

.write-content {
  float: left;
  width: 100%;
  height: 157px;
  border: 1px solid transparent;
  border-bottom: 1px solid $gray;
  padding: 15px;
  font-size: $thirteen-pixel;
}

.link-images-con {
  float: left;
  width: 100%;
  height: 53px;
  border-bottom: 1px solid $gray;
  .link {
    position: relative;
    float: left;
    width: 53px;
    height: 100%;
    img {
      display:block;
      position:absolute;
      top:50%;
      left:50%;
      width: 34px;
      height: 34px;
      margin: -17px 0 0 -17px;
    }
  }
}  

.create-options-con {
  float: left;
  width: 100%;
  height: auto;
  .create-option {
    float: left;
    width: 16.6%;
    height: 56px;
    text-align: center;
    margin: 10px 0 0 0;
    img {
      width: 100%;
      height: 23px;
    }
    span {
      font-size: $eleven-pixel;
      color: $gray-font;
    }
  }
}

// ------ polling ------

.item-input-con {
  float: left;
  width: 100%;
  height: 46px;
  .item-input {
    float: left;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 0 0 15px;
    font-size: $thirteen-pixel;
  }
}

.item-add {
  float: left;
  width: 100%;
  height: 46px;
  border-bottom: 1px solid $gray;
  img {
    float: left;
    width: 12.5px;
    height: 100%;
    margin: 0 0 0 15px;
  }
  span {
    line-height: 46px;
    margin: 0 0 0 10px;
    font-size: $thirteen-pixel;
  }
}

.switch {
  float: left;
  width: 100%;
  height: 46px;
  span {
    line-height: 46px;
    margin: 0 0 0 15px;
    font-size: $thirteen-pixel;
  }
  img {
    float: right;
    width: 39px;
    height: 100%;
    margin: 0 15px 0 0;
  }
}

// ------ select-group ------

.create-group {
  width: 100%;
  height: 62px;
  background-color: $black;
  span {
    float: left;
    margin: 0 0 0 16px;
    line-height: 62px;
    color: $white;
  }
  img {
    float: right;
    width: 32px;
    height: 100%;
    margin: 0 11px 0 0;
  }
}

.select-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  background: url('../images/BagleImageGradient.png');
  background-size: 100% 100%;
  z-index: 3;
  span {
    float: left;
    width: 80%;
    margin: 0 0 0 16px;
    line-height: 88px;
    color: $white;
    @extend .ellipsis;
  }
  img {
    float: right;
    width: 25px;
    height: 100%;
    margin: 0 15px 0 0;
  }
}

.post-button {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 65px;
  background-color: $dark-red;
  text-align: center;
  span{
    line-height: 65px;
  }
}

// ------ member ------

.invite-member {
  float: left;
  width: 100%;
  height: 62px;
  padding: 0 15px 0 17px;
  border-bottom: 1px solid $gray;
  .add-button {
    float: left;
    width: 34px;
    height: 100%;
  }
  span {
    float: left;
    line-height: 62px;
    padding: 0 0 0 17px;
    font-size: $thirteen-pixel;
  }
  .arrow-right-button {
    float: right;
    width: 40px;
    height: 100%;
  }
}

.member-con {
  float: left;
  width: 100%;
  height: 62px;
  padding: 0 15px 0 9px;
  border-bottom: 1px solid $gray;
  .member-photo-con {
    position: relative;
    float: left;
    width: 58px;
    height: 100%;
    img {
      display:block;
      position:absolute;
      float: left;
      top:50%;
      left:50%;
      width: 50px;
      height: 50px;
      margin: -25px 0 0 -25px;
      border-radius: 50%;
    }
  }
  .member-name-con {
    float: left;
    width: 60%;
    height: 100%;
    margin: 0 0 0 9px;
    padding: 12px 0 0 0;
    .member-name {
      float: left;
      width: 60%;
      height: auto;
      font-size: $thirteen-pixel;
    }
    .member-roll {
      float: left;
      width: 60%;
      height: auto;
      font-size: $thirteen-pixel;
      color: $dark-red;
    }
  }
  .remove {
    float: right;
    width: auto;
    height: 100%;
    span {
      line-height: 62px;
      font-size: $eleven-pixel;
      color: $bright-gray-font;
    }
  }
}

// ------ edit-group ------

.selected-members {
  float: left;
  width: 100%;
  height: 62px;
  padding: 0 15px 0 35px;
  .text-con {
    float: left;
    width: 80%;
    height: auto;
    span {
      float: left;
      width: 100%;
      height: auto;
    }
  }
  img {
    float: right;
    width: 40px;
    height: 100%;
  }
}

.delete-con {
  float: left;
  width: 100%;
  height: 46px;
  .delete-title {
    float: left;
    width: auto;
    height: 100%;
    span {
      margin: 0 0 0 16px;
      line-height: 46px;
      font-weight: 800;
      color: $dark-red;
    }
  }
}

// ------ edit-profile ------


.login-info-con {
  float: left;
  width: 100%;
  height: auto;
  padding: 0 15px 0 15px;
  .login-info-title-con {
    float: left;
    width: 100%;
    height: 46px;
    span {
      line-height: 46px;
      font-size: $thirteen-pixel;
    }
  }
  .login-type-con {
    float: left;
    width: 100%;
    height: 56px;
    line-height: 56px;
    .login-type {
      float: left;
      padding: 0 15px 0 15px;
      font-size: $thirteen-pixel;
    }
    .type-text {
      float: right;
      font-size: $thirteen-pixel;
      color: $gray-font;
    }
  }
}


.setting-con {
  float: left;
  width: 100%;
  height: 56px;
  padding: 0 15px 0 15px;
  .setting-tltle {
    float: left;
    width: auto;
    height: 100%;
    span {
      line-height: 56px;
      font-size: $thirteen-pixel;
    }
  }
  .setting-sub-title {
    float: right;
    width: auto;
    height: 100%;
    span {
      line-height: 56px;
      font-size: $thirteen-pixel;
      color: $gray-font;
    }
  }
  img {
    float: right;
    width: 40px;
    height: 100%;
  }
}

.delete-account {
  float: left;
  width: 100%;
  height: 56px;
  background: url('../images/DeleteAccountBtn.png');
  background-size: 100% 100%;
  span {
    line-height: 56px;
    padding: 0 0 0 15px;
  }
}

// ------ change-password ------

.change-password-con {
  float: left;
  width: 100%;
  height: 56px;
  padding: 0 0 0 15px;
  img {
    float: left;
    width: 10px;
    height: 100%;
  }
  .input-password {
    float: left;
    width: 97%;
    height: 100%;
    border: none;
    padding: 0 0 0 15px;
    font-size: $thirteen-pixel;
  }
}

// ------ language ------

.language-con {
  float: left;
  width: 100%;
  height: 56px;
  padding: 0 15px 0 15px;
  span {
    float: left;
    line-height: 56px;
    font-size: $thirteen-pixel;
  }
  img {
    float: right;
    width: 20px;
    height: 100%;
  }
}

// ------ select-member ------

.poster-con {
  float: left;
  width: 100%;
  height: 62px;
  padding: 0 15px 0 9px;
  .poster-photo {
    float: left;
    width: auto;
    height: 100%;
    padding: 5px 0 0 0;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
  .roll-con {
    float: left;
    width: 76%;
    height: 100%;
    margin: 0 0 0 9px;
    padding: 10px 0 0 0;
    .poster {
      float: left;
      width: 100%;
      height: auto;
      font-size: $thirteen-pixel;
    }
    .member {
      float: left;
      width: 100%;
      height: auto;
      font-size: $thirteen-pixel;
      color: $dark-red;
    }
  }
  .check-image {
    float: right;
    width: auto;
    height: 100%;
    img {
      float: right;
      width: 20px;
      height: 100%;
    }
  }
}

// ------ unanswered ------

.unanswered-con {
  width: 100%;
  height: 46px;
  .unanswered-photo {
    float: left;
    position: relative;
    width: 49px;
    height: 100%;
    img {
      display:block;
      position:absolute;
      top:50%;
      left:50%;
      width: 32px;
      height: 32px;
      margin: -16px 0 0 -16px;
      border-radius: 50%;
    }
  }
  span {
    width: auto;
    height: 100%;
    float: left;
    line-height: 46px;
  }
}

// ------ answered ------

.item-con {
  width: 100%;
  height: auto;
  .item-title{
    width: 100%;
    height: 46px;
    .item-name {
      float: left;
      line-height: 46px;
      margin: 0 0 0 16px;
      font-size: $thirteen-pixel;
      font-weight: 600;
    }
    .comment-counting {
      float: right;
      line-height: 46px;
      margin: 0 16px 0 0;
      font-size: $thirteen-pixel;
    }
  }
  .comment-con {
    width: 100%;
    height: 62px;
    margin: 0 0 10px 0;
    .comment-user-photo{
      float: left;
      width: 50px;
      height: 100%;
      img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 1px solid #d8d8d8;
        margin: 4px 0 0 8px;
      }
    }
    .comment-info {
      float: left;
      width: auto;
      height: 100%;
      .comment-name {
        width: auto;
        height: 33.3%;
        span{
          font-size: $thirteen-pixel;
          font-weight: 600;
        }
      }
      .comment-text {
        width: auto;
        height: 33.3%;
        span {
          font-size: $thirteen-pixel;
        }
      }
      .comment-time {
        width: auto;
        height: 33.3%;
        span {
          font-size: $eleven-pixel;
          color: $gray-font;
        }
      }
    }
  }
}

