<div class="header">
  <div class="left-button">
    <a ng-href="#/create-card"><img src="images/CloseBtn.png"></a>
  </div>
  <span>POLLING</span>
  <div class="right-button">
    <a ng-href="#/create-card"><img src="images/CompleteBtn.png"></a>
  </div>
</div>

<div class="item-input-con">
	<input class="item-input" type="text" placeholder="ITEM INPUT">
</div>

<div class="item-add">
	<img src="images/AddItemBtn.png">
	<span>ADD ITEM</span>
</div>

<div class="switch">
	<span>SECRET POLLING</span>
	<img src="images/SwitchOffBtn.png">
</div>

<div class="switch">
	<span>MULTIPLE SELECTION</span>
	<img src="images/SwitchOnBtn.png">
</div>