<div class="header">
  <div class="left-button">
  </div>
  <span>ACTIVITY</span>
  <div class="right-button">
  </div>
</div>

<div class="acitiviy-info">
	<div class="user-photo">
		<img src="images/profilePhotoThumb.png">
	</div>
	<div class="content">
		<span>Sally Wilson was apply to join the Love Photo. 2h ago</span>
	</div>
	<div class="options-button">
		<img src="images/AddMemberBtn.png">
	</div>
</div>
<div class="line"></div>

<div class="footer">
  <div class="menu">
    <a ng-href="#"><img class="icon" src="images/TimeLineBtn.png"></a>
    <a ng-href="#/search"><img class="icon" src="images/SearchBtn.png"></a>
    <a ng-href="#/create-card"><img class="icon" src="images/CreateBtn.png"></a>
    <a ng-href="#/activity"><img class="icon" src="images/ActivityBtn.png"></a>
    <a ng-href="#/profile"><img class="icon" src="images/ProfileBtn.png"></a>
  </div>
</div>