<div class="header">
  <div class="left-button">
    <a ng-href="#/timeline"><img src="images/CloseBtn.png"></a>
  </div>
  <div class="right-button">
    <a ng-href="#/select-group"><img src="images/PostBtn.png"></a>
  </div>
</div>

<div class="create-type-select">
	<div class="create-type">
		<span>Public</span>
	</div>
	<img src="images/ArrowDown.png">
</div>

<div class="create-card-dropdown">
	<div class="create-dropdown-con">
		<div class="create-dropdown-type">
			<span class="dropdown-type-title">Public</span>
			<span class="dropdown-type-sub-title">Everyone visible</span>
		</div>
		<img src="images/Check180.png">
	</div>
	<div class="create-dropdown-con">
		<div class="create-dropdown-type">
			<span class="dropdown-type-title">Only Me</span>
			<span class="dropdown-type-sub-title">Answer visble only to me</span>
		</div>
		<img src="images/Check180.png">
	</div>
	<div class="create-dropdown-con">
		<div class="create-dropdown-type">
			<span class="dropdown-type-title">Anonymous</span>
			<span class="dropdown-type-sub-title">Everyone visible, but shown as Anonymous</span>
		</div>
		<img src="images/Check180.png">
	</div>
</div>

<textarea class="write-content" placeholder="WRITE CONTENT">
</textarea>

<div class="link-images-con">
	<div class="link">
		<img src="images/linkimage.png">
	</div>

	<div class="link">
		<img src="images/linkimage.png">
	</div>

	<div class="link">
		<img src="images/linkimage.png">
	</div>
</div>

<div class="create-options-con">
	<div class="create-option">
		<img src="images/CameraIcon.png">
		<span>CAMERA</span>
	</div>

	<div class="create-option">
		<img src="images/CommentIcon.png">
		<span>COMMENT</span>
	</div>

	<div class="create-option">
		<img src="images/TimerIcon.png">
		<span>TIMER</span>
	</div>

<a ng-href="#/polling">
	<div class="create-option">
		<img src="images/PollIcon.png">
		<span>POLL</span>
	</div>
</a>

	<div class="create-option">
		<img src="images/AverageIcon.png">
		<span>AVERAGE</span>
	</div>

	<div class="create-option">
		<img src="images/RatingIcon.png">
		<span>RATING</span>
	</div>
</div>