<div class="header">
  <div class="left-button">
    <a ng-href="#/create-card"><img src="images/BackBtn.png"></a>
  </div>
  <span>POST IN</span>
  <div class="right-button">
  </div>
</div>

<a ng-href="#/create-group">
	<div class="create-group">
		<span>CTRATE NEW BAGLE</span>
		<img src="images/AddBagleBtn.png">
	</div>
</a>

<div class="select-group">
	<span>GROUP NAME</span>
	<img src="images/Check200.png">
</div>

<a ng-href="#/timeline">
	<div class="post-button">
		<span>POST</span>
	</div>
</a>