<div class="header">
	<a ng-href="#/timeline">
	  <div class="left-button">
	  	<img src="images/BackBtn.png">
	  </div>
	</a>
  <span>COMMENTS</span>
  <div class="right-button">
  </div>
</div>

<div class="item-con">
	<div class="item-title">
		<span class="item-name">ITEM #1</span>
		<span class="comment-counting">3 People</span>
	</div>

	<div class="comment-con">
		<div class="comment-user-photo">
			<img src="images/ProfilePhotoThumb.png">
		</div>
		<div class="comment-info">
			<div class="comment-name">
				<span>Ian Porter</span>
			</div>
			<div class="comment-text">
				<span>Comments</span>
			</div>
			<div class="comment-time">
				<span>2h ago</span>
			</div>
		</div>
	</div>
</div>