<div class="url-con">
	<div class="url-title">
		<span>INVITE URL</span>
	</div>
	<div class="url">
		<span>http://bagle.com/asdf</span>
	</div>
</div>

<div class="line">
</div>

<div class="invite">
	<div class="invite-image">
		<img src="images/Email.png">
	</div>
	<div class="invite-text">
		<span>Invite Email</span>
	</div>
</div>

<div class="invite">
	<div class="invite-image">
		<img src="images/Sms.png">
	</div>
	<div class="invite-text">
		<span>Invite SMS</span>
	</div>
</div>

<div class="invite">
	<div class="invite-image">
		<img src="images/Contact.png">
	</div>
	<div class="invite-text">
		<span>Invite Contacts</span>
	</div>
</div>