<div class="header">
  <div class="left-button">
    <img src="images/BackBtn.png">
  </div>
  <span>bagel</span>
  <div class="right-button">
  </div>
</div>

<a ng-href="#/invite-member">
	<div class="invite-member">
		<img class="add-button" src="images/AddBtnGray.png">
		<span>INVITE MEMBERS</span>
		<img class="arrow-right-button" src="images/ArrowRightBtn200.png">
	</div>
</a>

<div class="member-con">
	<div class="member-photo-con">
		<img src="images/ProfilePhotoThumb.png">
	</div>
	<div class="member-name-con">
		<span class="member-name">Isobel Garrett</span>
		<span class="member-roll">Creater & Poster</span>
	</div>
	<div class="remove">
		<span>REMOVE</span>
	</div>
</div>