<div class="header-gray">
  <div class="left-button">
    <a ng-href="#/profile"><img src="images/CloseBtnGray.png"></a>
  </div>
  <span>POSTER SELECT</span>
  <div class="right-button">
    <a ng-href="#/profile"><img src="images/CompleteBtnGray.png"></a>
  </div>
</div>

<div class="user-info">
	<img src="images/ProfilePhoto.png">
	<div class="change-photo-btn">
		<img src="images/BagleImageBtn.png">
	</div>
	<div class="name-con">
		<span>My Name</span><br>
		<span>My Information</span>
	</div>
</div>

<div class="login-info-con">
	<div class="login-info-title-con">
		<span>LOGIN INFORMATION</span>
	</div>
	<div class="login-type-con">
		<span class="login-type">E-mail</span>
		<span class="type-text">bagle@gmail.com</span>
	</div>
</div>

<a ng-href="#/password">
	<div class="setting-con">
		<div class="setting-tltle">
			<span>CHANGE PASSWORD</span>
		</div>
		<img src="images/ArrowRightBtn200.png">
	</div>
</a>

<a ng-href="#/language">
	<div class="setting-con">
		<div class="setting-tltle">
			<span>LANGUAGE</span>
		</div>
		<img src="images/ArrowRightBtn200.png">
		<div class="setting-sub-title">
			<span>English</span>
		</div>
	</div>
</a>

<div class="setting-con">
	<div class="setting-tltle">
		<span>LOG OUT</span>
	</div>
</div>

<div class="delete-account">
	<span>DELETE ACCOUNT</span>
</div>