<div class="header">
  <div class="left-button">
    <a ng-href="#/timeline"><img src="images/BackBtn.png"></a>
  </div>
  <span>USER PROFILE</span>
  <div class="right-button">
  </div>
</div>

<div class="user-info">
	<div class="blank-div"></div>
	<div class="name-con">
		<div class="user-info-text-popup">
			<span class="user-name">My Name</span><br>
			<span class="user-information">My Information</span>
		</div>
	</div>
</div>

<div class="bagle-tab">
	<div class="my-bagle">
		<span class="count">26</span><br>
		<span class="text">BAGLE</span>
	</div>
	<div class="my-post">
		<span class="count">357</span><br>
		<span class="text">POSTS</span>
	</div>
</div>


<div class="group-list">
	<div class="group-photo"></div>
	<div class="group-gradation"></div>

	<div class="group-info">
		<div class="group-con">
			<div class="master">
				<img src="images/profilePhotoThumb.png">
				<span>Sally Wilson</span><br><span>in Love Photo</span>
			</div>
			<div class="description">
				Information
			</div>
		</div>
		<div class="option">
			<img src="images/AddBagleBtn.png">
			<img src="images/AddBagleBtn.png">
		</div>
	</div>
</div>


