<div class="header">
  <div class="left-button">
    <a ng-href="#/timeline"><img src="images/BackBtn.png"></a>
  </div>
  <span>USER PROFILE</span>
  <div class="right-button">
  </div>
</div>

<div class="user-info">
	<img src="images/ProfilePhoto.png">
	<div class="name-con">
		<span>User Name</span><br>
		<span>User Information</span>
	</div>
</div>

<div class="bagle-tab">
	<div class="popular">
		<span>POPULAR BAGLE</span>
	</div>
	<div class="new">
		<span>NEW BAGLE</span>
	</div>
</div>

<div class="group-info">
	<div class="group-con">
		<div class="master">
			<img src="images/profilePhotoThumb.png">
			<span>Sally Wilson</span><br><span>in Love Photo</span>
		</div>
		<div class="description">
			Information
		</div>
	</div>
	<div class="option">
		<img src="images/AddBagleBtn.png">
		<img src="images/AddBagleBtn.png">
	</div>
</div>