<div class="create-name-con">
	<div class="name">
		<span>BAGLE NAME</span>
	</div>
	<div class="name">
		<span>Information</span>
	</div>
	<img src="images/BagleImageBtn.png">
</div>

<div class="automatic-con">
	<span>AUTOMATI JOIN</span>
	<img src="images/SwitchOnBtn.png">
</div>

<div class="type-con">
	<div class="type-title">
		<span>BAGLE TYPE</span>
	</div>
	<div class="type">
		<div class="type-name">
			<span>Public</span>
		</div>
		<div class="type-description">
			<span>Description</span>
		</div>
		<div class="type-complete">
			<img src="images/CompleteBtn.png">
		</div>
	</div>
</div>

<a ng-href="#/invite-member">
	<div class="invite-members">
		<span>INVITE MEMBERS</span>
		<img src="images/ArrowRightBtn200.png">
	</div>
</a>