<div class="header">
  <div class="left-button">
    <a ng-href="#/select-group"><img src="images/BackBtn.png"></a>
  </div>
  <span>CREATE BAGLE</span>
  <div class="right-button">
    <a ng-href="#/select-group"><img src="images/CompleteBtn.png"></a>
  </div>
</div>

<div class="create-name-con">
	<div class="name">
		<span>BAGLE NAME</span>
	</div>
	<div class="name">
		<span>Information</span>
	</div>
	<img src="images/BagleImageBtn.png">
</div>

<div class="automatic-con">
	<span>AUTOMATI JOIN</span>
	<img src="images/SwitchOnBtn.png">
</div>

<div class="type-con">
	<div class="type-title">
		<span>BAGLE TYPE</span>
	</div>
	<div class="type">
		<div class="name-description">
			<span>Public</span>
			<span>Description</span>
		</div>
		<img src="images/Check180.png">
	</div>
</div>

<a ng-href="#/invite-member">
	<div class="invite-members">
		<span>INVITE MEMBERS</span>
		<img src="images/ArrowRightBtn200.png">
	</div>
</a>