<div class="user-info">
	<img src="images/ProfilePhoto.png">
	<div class="cahnge-photo-btn">
		<img src="images/BagleImageBtn.png">
	</div>
	<div class="name-con">
		<span>My Name</span><br>
		<span>My Information</span>
	</div>
	<div class="user-setting-btn">
		<img src="images/SettingBtn.png">
	</div>
</div>

<div class="bagle-tab">
	<div class="popular">
		<span>POPULAR BAGLE</span>
	</div>
	<div class="new">
		<span>NEW BAGLE</span>
	</div>
</div>

<div class="group-info">
	<div class="group-con">
		<div class="master">
			<img src="images/profilePhotoThumb.png">
			<span>Sally Wilson</span><br><span>in Love Photo</span>
		</div>
		<div class="description">
			Information
		</div>
	</div>
	<div class="option">
		<img src="images/AddBagleBtn.png">
	</div>
</div>

<a ng-href="#/create-group">
	<div class="create-button">
		<span>CREATE NEW BAGEL</span>
	</div>
</a>