<div class="header">
  <div class="left-button">
  </div>
  <span>MY MENU</span>
  <div class="right-button">
  </div>
</div>

<div class="user-info">
	<img src="images/ProfilePhoto.png">
	<div class="name-con">
		<span class="user-name">My Name</span><br>
		<span class="user-information">My Information</span>
	</div>
	<a ng-href="#/edit-profile">
		<div class="user-setting-btn">
			<img src="images/SettingBtn.png">
		</div>
	</a>
</div>

<div class="bagle-tab">
	<div class="my-bagle">
		<span class="count">26</span><br>
		<span class="text">BAGLE</span>
	</div>
	<div class="my-post">
		<span class="count">357</span><br>
		<span class="text">POSTS</span>
	</div>
</div>

<div class="group-list">
	<div class="group-photo"></div>
	<div class="group-gradation"></div>

	<div class="group-info">
		<div class="group-con">
			<div class="master">
				<img src="images/profilePhotoThumb.png">
				<span>Sally Wilson</span><br><span>in Love Photo</span>
			</div>
			<div class="description">
				Information
			</div>
		</div>
		<div class="option">
			<a ng-href="#/edit-group"><img src="images/BagleOptionBtn.png"></a>
			<a ng-href="#/member"><img src="images/BagleMemberBtn.png"></a>
		</div>
	</div>

</div>

<a ng-href="#/create-group">
	<div class="create-button">
		<span>CREATE NEW BAGEL</span>
	</div>
</a>


<div class="footer">
  <div class="menu">
    <a ng-href="#"><img class="icon" src="images/TimeLineBtn.png"></a>
    <a ng-href="#/search"><img class="icon" src="images/SearchBtn.png"></a>
    <a ng-href="#/create-card"><img class="icon" src="images/CreateBtn.png"></a>
    <a ng-href="#/activity"><img class="icon" src="images/ActivityBtn.png"></a>
    <a ng-href="#/profile"><img class="icon" src="images/ProfileBtn.png"></a>
  </div>
</div>